* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.anim {
  animation: fade 0.75s ease 1 forwards normal;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
  background: url("../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 55px;
}

.logo {
  margin-right: 64px;
}

.divisor {
  position: relative;
}

.divisor::after {
  content: "";
  width: 625px;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.3);
}

.nav-mobile {
  display: none;
}

nav {
  margin-left: auto;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(15px);
  width: 950px;
  z-index: 9;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 165px;
  margin-left: 123px;
}

nav ul li {
  margin: 0 48px;
}

nav ul li:last-child {
  margin-right: 165px;
}

nav ul li:first-child {
  margin-left: 123px;
}

nav ul li a {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  display: flex;
  transition: 0.2s ease;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  font-weight: 400;
  height: 96px;
  letter-spacing: 2.7px;
  text-decoration: none;
}

nav ul li a strong {
  margin-right: 12px;
}

.nav-link {
  text-align: center;
  position: relative;
}

.nav-link.active::after {
  left: 0;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: white;
}

.nav-link:hover {
  transition: 0.2s ease;
}

.nav-link:not(.active):hover::after {
  left: 0;
  content: "";
  position: absolute;
  bottom: 0;
  width: 130px;
  height: 3px;
  background-color: #979797;
}

.home-link:not(.active):hover::after {
  width: 75px;
}

.destination-link:not(.active):hover::after {
  width: 121px;
}

.crew-link:not(.active):hover::after {
  width: 70px;
}

.technology-link:not(.active):hover::after {
  width: 120px;
}

.hamburger {
  display: none;
}

.title {
  font-size: 26px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.72px;
  color: white;
  text-transform: uppercase;
  margin-left: 166.5px;
  margin-top: 76px;
}

.title strong {
  opacity: 25%;
  margin-right: 28px;
}

main .info {
  margin-left: 165.5px;
  margin-top: 156px;
}

main .info h2 {
  font-size: 32px;
  font-family: "Bellefair", serif;
  opacity: 50%;
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
}

main .info h1 {
  font-size: 56px;
  font-family: "Bellefair", serif;
  color: white;
  margin-bottom: 24px;
  text-transform: uppercase;
}

main .info p {
  width: 444px;
  height: 128px;
  font-size: 18px;
  color: #d0d6f9;
  font-family: "Barlow", sans-serif;
}

main {
  align-items: center;
  display: flex;
}

main .image {
  margin-left: 81.5px;
  height: 100%;
}

main .image img {
  height: 600px;
}

main .choose-crew-buttons {
  margin-top: 120px;
}

main .choose-crew-buttons .choose-crew-button {
  border: 0;
  background: none;
  margin-right: 24px;
  cursor: pointer;
}

main .choose-crew-button .choose-crew-ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  opacity: 17%;
}

main .choose-crew-buttons .choose-crew-button.active .choose-crew-ball {
  background: #fff;
  opacity: 100%;
}

main .choose-crew-buttons .choose-crew-button:first-child {
  margin-left: 0;
}

main .choose-crew-buttons .choose-crew-button:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1440px) {
  .divisor::after{
    width: 360px;
  }

  main {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1366px) {
  .divisor::after {
    width: 280px;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    width: 100%;
  }

  .divisor::after {
    width: 100px;
    left: -25px;
  }

  nav ul {
    width: 800px;
    margin: 0;
  }

  nav ul li {
    margin: 0 32px;
  }

  .title {
    margin-left: 60px;
    font-size: 22px;
  }

  main .info{
    margin-left: 60px;
  }

  main .image {
    margin-left: 20px;
  }
  
  main .image img{
    max-width: 400px;
    height: 450px;
  }

  main .choose-crew-buttons {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }

  header {
    padding-top: 0;
    padding-left: 0;
  }

  nav {
    width: 450px;
  }

  nav ul {
    margin-left: 48px;
    margin-right: 46px;
  }

  nav ul li:first-child {
    margin-left: 0;
    margin-right: 37px;
  }

  nav ul li:nth-child(2) {
    margin-left: 0;
    margin-right: 42px;
  }

  nav ul li:nth-child(3) {
    margin-left: 0;
    margin-right: 37px;
  }

  nav ul li:last-child {
    margin: 0;
  }

  nav ul li a {
    letter-spacing: 2.36px;
    font-size: 14px;
  }

  nav ul li a strong {
    display: none;
  }

  .destination-link:not(.active):hover::after {
    width: 80px;
  }

  .crew-link:not(.active):hover::after {
    width: 30.5px;
  }

  .technology-link:not(.active):hover::after {
    width: 75px;
  }

  .logo {
    margin-left: 39px;
    margin-top: 24px;
  }

  .divisor {
    display: none;
  }

  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .title {
    margin-top: 40px;
    margin-left: 38.5px;
    font-size: 20px;
    letter-spacing: 3.38px;
  }

  main .info {
    margin-left: 0;
    margin-top: 60px;
    text-align: center;
  }

  main .info #crew-role {
    font-size: 24px;
    margin-bottom: 8px;
  }

  main .info .crew-name {
    font-size: 40px;
    margin-bottom: 16px;
  }

  main .info #crew-description {
    font-size: 16px;
    line-height: 28px;
    width: 458px;
    height: 84px;
  }

  main .info .choose-crew-buttons {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  main .image {
    margin-left: 0;
  }

  main .image img {
    height: 572px;
  }
}

@media screen and (max-width: 425px) {
  body {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
  }

  nav {
    display: none;
  }

  header {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
  }

  .logo {
    margin: 0;
  }

  .hamburger {
    display: block;
    z-index: 26;
  }

  .divisor {
    display: none;
  }

  .title {
    display: flex;
    text-transform: uppercase;
    margin: 24px 0 0 0;
    font-size: 20px;
    letter-spacing: 2.7px;
    justify-content: center;
  }

  .title strong {
    margin-right: 18px;
  }

  main {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  main .image {
    margin-left: 0;
    margin-top: 54px;
    margin-bottom: 32px;
    position: relative;
  }

  main .image img {
    height: 300px;
  }

  main .image::after {
    content: "";
    width: 327px;
    height: 1px;
    background: #383b4b;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  main .info {
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
  }

  main .info #crew-description {
    width: 327px;
    height: 100px;
    line-height: 25px;
    font-size: 18px;
  }

  .nav-mobile {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    transition: 0.2s ease;
    height: 100vh;
    z-index: 25;
    width: 0;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(8px);
    opacity: 0;
    visibility: hidden;
  }

  .nav-mobile.active {
    width: 254px;
    opacity: 1;
    visibility: visible;
  }

  .nav-mobile ul {
    list-style: none;
    margin-top: 118px;
    padding-left: 32px;
  }

  .nav-mobile ul li {
    margin-bottom: 32px;
  }

  .nav-mobile ul li:last-child {
    margin-bottom: 0;
  }

  .nav-mobile ul li a {
    color: white;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    display: flex;
    transition: 0.2s ease;
    text-transform: uppercase;
    align-items: center;
    font-weight: 400;
    height: 31px;
    position: relative;
    letter-spacing: 2.7px;
  }

  .nav-mobile ul li a strong {
    margin-right: 14px;
  }

  .nav-mobile ul li a.active::after {
    right: 0;
    content: "";
    position: absolute;
    bottom: 0;
    width: 4px;
    height: 31px;
    background-color: white;
  }

  main #crew-role {
    font-size: 16px;
    margin-bottom: 8px;
  }

  main #crew-name {
    font-size: 24px;
    margin-bottom: 16px;
  }

  main #crew-description {
    width: 327px;
    height: 100px;
    margin-bottom: 105px;
    line-height: 25px;
    font-size: 15px;
  }

  main .choose-crew-buttons {
    margin-top: 0;
    display: flex;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 375px) {
  body {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
  }

  nav {
    display: none;
  }

  header {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
  }

  .logo {
    margin: 0;
  }

  .hamburger {
    display: block;
    z-index: 26;
  }

  .divisor {
    display: none;
  }

  .title {
    display: flex;
    text-transform: uppercase;
    margin: 24px 0 0 0;
    font-size: 16px;
    letter-spacing: 2.7px;
    justify-content: center;
  }

  .title strong {
    margin-right: 18px;
  }

  main {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  main .image {
    margin-left: 0;
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
  }

  main .image img {
    height: 275px;
  }

  main .image::after {
    content: "";
    width: 327px;
    height: 1px;
    background: #383b4b;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  main .info {
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
  }

  main .info #crew-description {
    width: 327px;
    height: 100px;
    line-height: 25px;
    font-size: 15px;
  }

  .nav-mobile {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    transition: 0.2s ease;
    height: 100vh;
    z-index: 25;
    width: 0;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(8px);
    opacity: 0;
    visibility: hidden;
  }

  .nav-mobile.active {
    width: 254px;
    opacity: 1;
    visibility: visible;
  }

  .nav-mobile ul {
    list-style: none;
    margin-top: 118px;
    padding-left: 32px;
  }

  .nav-mobile ul li {
    margin-bottom: 32px;
  }

  .nav-mobile ul li:last-child {
    margin-bottom: 0;
  }

  .nav-mobile ul li a {
    color: white;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    display: flex;
    transition: 0.2s ease;
    text-transform: uppercase;
    align-items: center;
    font-weight: 400;
    height: 31px;
    position: relative;
    letter-spacing: 2.7px;
  }

  .nav-mobile ul li a strong {
    margin-right: 14px;
  }

  .nav-mobile ul li a.active::after {
    right: 0;
    content: "";
    position: absolute;
    bottom: 0;
    width: 4px;
    height: 31px;
    background-color: white;
  }

  main #crew-role {
    font-size: 16px;
    margin-bottom: 8px;
  }

  main #crew-name {
    font-size: 24px;
    margin-bottom: 16px;
  }

  main #crew-description {
    width: 327px;
    height: 100px;
    margin-bottom: 105px;
    line-height: 25px;
    font-size: 15px;
  }

  main .choose-crew-buttons {
    margin-top: 0;
    display: flex;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  main .info #crew-role {
    font-size: 20px;
  }

  main .info #crew-name {
    font-size: 24px;
  }

  main .info #crew-description {
    width: 300px;
  }

  main .image img {
    height: 250px;
  }

  main .image::after {
    width: 275px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(86, 59, 223);
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
