* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.anim {
  animation: fade 0.75s ease 1 forwards normal;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
  background: url("../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 55px;
}

.logo {
  margin-right: 64px;
}

.divisor {
  position: relative;
}

.divisor::after {
  content: "";
  width: 625px;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.3);
}

.nav-mobile {
  display: none;
}

nav {
  margin-left: auto;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(15px);
  width: 950px;
  z-index: 9;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 165px;
  margin-left: 123px;
}

nav ul li {
  margin: 0 48px;
}

nav ul li:last-child {
  margin-right: 165px;
}

nav ul li:first-child {
  margin-left: 123px;
}

nav ul li a {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  display: flex;
  text-transform: uppercase;
  transition: 0.2s ease;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  height: 96px;
  letter-spacing: 2.7px;
  text-decoration: none;
}

nav ul li a strong {
  margin-right: 12px;
}

.nav-link {
  text-align: center;
  position: relative;
}

.nav-link.active::after {
  left: 0;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: white;
}

.nav-link:hover {
  transition: 0.2s ease;
}

.nav-link:not(.active):hover::after {
  left: 0;
  content: "";
  position: absolute;
  bottom: 0;
  width: 130px;
  height: 3px;
  background-color: #979797;
}

.home-link:not(.active):hover::after {
  width: 75px;
}

.destination-link:not(.active):hover::after {
  width: 121px;
}

.crew-link:not(.active):hover::after {
  width: 70px;
}

.technology-link:not(.active):hover::after {
  width: 120px;
}

.hamburger {
  display: none;
}

.title {
  font-size: 26px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.72px;
  color: white;
  margin-left: 166.5px;
  text-transform: uppercase;
  margin-top: 76px;
  margin-bottom: 64px;
}

.title strong {
  opacity: 25%;
  margin-right: 28px;
}

main {
  display: flex;
  align-items: center;
}

main .star-image-wrapper {
  margin-right: 157px;
  margin-left: 230px;
}

main .star-info .choose-star {
  list-style: none;
  display: flex;
  z-index: 10;
  margin-bottom: 52px;
}

main .star-info .choose-star li {
  margin: 0 35px;
}

main .star-info .choose-star li:first-child {
  margin-left: 0;
}

main .star-info .choose-star li:last-child {
  margin-right: 0;
}

main .star-info .choose-star li a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

main .star-info .choose-star li a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -12px;
  left: 0;
  height: 3px;
  background: #fff;
}

main .star-info .choose-star li a:not(.active):hover::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -12px;
  left: 0;
  height: 3px;
  background: #fff;
  opacity: 50%;
}

main .star-info #star-name {
  margin-bottom: 14px;
  font-family: "Bellefair", serif;
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
}

main .star-info #star-description {
  color: #d0d6f9;
  font-size: 18px;
  height: 128px;
  width: 444px;
  font-family: "Barlow", sans-serif;
  line-height: 32px;
}

main .star-info .star-divisor {
  width: 444px;
  height: 1px;
  margin-top: 54px;
  background: #383b4b;
  margin-bottom: 28px;
}

main .star-distance-and-travel-time {
  display: flex;
  align-items: center;
}

main .average-distance {
  margin-right: 80px;
}

main .average-distance,
main .travel-time {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.36px;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
}

main #star-distance,
main #star-travel-time {
  font-size: 28px;
  letter-spacing: 0;
  margin-top: 12px;
  font-family: "Bellefair", serif;
}

@media screen and (max-width: 1366px) {
  .divisor::after {
    width: 280px;
  }

  main .star-image-wrapper {
    margin-right: 180px;
    margin-left: 170px;
  }

  main .star-image-wrapper img {
    width: 350px;
    height: 350px;
  }

  main .star-info .choose-star {
    margin-bottom: 32px;
  }

  main .star-info .choose-star li a {
    font-size: 14px;
  }

  main .star-info #star-name {
    font-size: 85px;
  }

  main .star-info #star-description {
    font-size: 18px;
  }

  main .star-info .star-divisor {
    margin: 30px 0;
  }

  main {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: url("../assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    margin-left: 39px;
  }

  .divisor {
    display: none;
  }

  nav {
    width: 450px;
  }

  nav ul {
    margin-left: 48px;
    margin-right: 46px;
  }

  nav ul li:first-child {
    margin-left: 0;
    margin-right: 37px;
  }

  nav ul li:nth-child(2) {
    margin-left: 0;
    margin-right: 42px;
  }

  nav ul li:nth-child(3) {
    margin-left: 0;
    margin-right: 37px;
  }

  nav ul li:last-child {
    margin: 0;
  }

  nav ul li a {
    letter-spacing: 2.36px;
    font-size: 14px;
  }

  nav ul li a strong {
    display: none;
  }

  .destination-link:not(.active):hover::after {
    width: 80px;
  }

  .crew-link:not(.active):hover::after {
    width: 30.5px;
  }

  .technology-link:not(.active):hover::after {
    width: 75px;
  }

  header {
    padding-top: 0;
    padding-left: 0;
  }

  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .title{
    margin-left: 38.5px;
    text-transform: uppercase;
    margin-bottom: 60px;
    letter-spacing: 3.38px;
    font-size: 20px;
  }

  main .star-image-wrapper{
    margin: 0 0 53px 0;
  }
  
  main .star-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  main .star-info .info-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  main .star-info #star-description{
    width: 573px;
    height: 84px;
    line-height: 28px;
  }

  main .star-info .star-divisor{
    margin-top: 49px;
    margin-bottom: 29px;
    width: 573px;
  }

  main .star-distance-and-travel-time{
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 375px) {
  body {
    background: url("../assets/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    margin: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .nav-mobile {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    z-index: 20;
    transition: 0.2s ease;
    height: 100vh;
    width: 0;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(8px);
    opacity: 0;
    visibility: hidden;
  }

  .nav-mobile.active {
    width: 254px;
    opacity: 1;
    visibility: visible;
  }

  .nav-mobile ul {
    list-style: none;
    margin-top: 118px;
    padding-left: 32px;
  }

  .nav-mobile ul li {
    margin-bottom: 32px;
  }

  .nav-mobile ul li:last-child {
    margin-bottom: 0;
  }

  .nav-mobile ul li a {
    color: white;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    display: flex;
    transition: 0.2s ease;
    text-transform: uppercase;
    align-items: center;
    font-weight: 400;
    height: 31px;
    position: relative;
    letter-spacing: 2.7px;
  }

  .nav-mobile ul li a strong {
    margin-right: 14px;
  }

  .nav-mobile ul li a.active::after {
    right: 0;
    content: "";
    position: absolute;
    bottom: 0;
    width: 4px;
    height: 31px;
    background-color: white;
  }

  nav {
    display: none;
  }

  .hamburger {
    z-index: 21;
    display: block;
  }

  main .star-distance-and-travel-time{
    display: flex;
    flex-direction: column;
    align-items: centers;
  }

  main .star-image-wrapper{
    margin-bottom: 26px;
  }

  main .star-image-wrapper img{
    width: 170px;
    height: 170px;
  }

  main .star-info .choose-star{
    margin-bottom: 20px;
  }

  main .star-info #star-name{
    font-size: 56px;
    margin-bottom: 6px;
  }

  main .star-info #star-description{
    width: 327px;
    font-size: 15px;
    line-height: 25px;
    height: 125px;
  }

  main .star-info .star-divisor{
    width: 327px;
  }

  main .star-distance-and-travel-time .average-distance {
    margin-bottom: 32px;
    margin-right: 0;
  }

  .title{
    margin-left: 0;
    display: flex;
    margin-top: 24px;
    font-size: 16px;
    letter-spacing: 2.7px;
    justify-content: center;
    margin-bottom: 32px;
  }
  
  .title strong{
    margin-right: 18px;
  }

  main .star-info .choose-star li {
    margin-right: 26px;
    margin-left: 0;
  }
  
  main .star-info .choose-star li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  main .star-info #star-description {
    width: 300px;
  }

  main .star-info #star-name{
    font-size: 55px;
  }

  main .star-info .star-divisor{
    width: 300px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(86, 59, 223);
}

@keyframes fade {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
