* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.anim {
  animation: fade 0.75s ease 1 forwards normal;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
  background: url("../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 55px;
}

.logo {
  margin-right: 64px;
}

.divisor {
  position: relative;
}

.divisor::after {
  content: "";
  width: 625px;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.3);
}

nav {
  margin-left: auto;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(15px);
  width: 950px;
  z-index: 9;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 165px;
  margin-left: 123px;
}

nav ul li {
  margin: 0 48px;
}

nav ul li:last-child {
  margin-right: 165px;
}

nav ul li:first-child {
  margin-left: 123px;
}

nav ul li a {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  display: flex;
  transition: 0.2s ease;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  height: 96px;
  letter-spacing: 2.7px;
  text-decoration: none;
}

nav ul li a strong {
  margin-right: 12px;
}

.nav-link {
  text-align: center;
  position: relative;
}

.nav-link.active::after {
  left: 0;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: white;
}

.nav-link:hover {
  transition: 0.2s ease;
}

.nav-link:not(.active):hover::after {
  left: 0;
  content: "";
  position: absolute;
  bottom: 0;
  width: 130px;
  height: 3px;
  background-color: #979797;
}

.home-link:not(.active):hover::after {
  width: 75px;
}

.destination-link:not(.active):hover::after {
  width: 121px;
}

.crew-link:not(.active):hover::after {
  width: 70px;
}

.technology-link:not(.active):hover::after {
  width: 120px;
}

.hamburger {
  display: none;
}

.title {
  font-size: 26px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.72px;
  color: white;
  margin-left: 166.5px;
  margin-top: 76px;
  margin-bottom: 64px;
}

.title strong {
  opacity: 25%;
  margin-right: 28px;
}

main {
  display: flex;
  align-items: center;
}

main .star-image-wrapper {
  margin-right: 157px;
  margin-left: 230px;
}

main .star-info .choose-star {
  list-style: none;
  display: flex;
  margin-bottom: 52px;
}

main .star-info .choose-star li {
  margin: 0 35px;
}

main .star-info .choose-star li:first-child {
  margin-left: 0;
}

main .star-info .choose-star li:last-child {
  margin-right: 0;
}

main .star-info .choose-star li a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

main .star-info .choose-star li a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -12px;
  left: 0;
  height: 3px;
  background: #fff;
}

main .star-info .choose-star li a:not(.active):hover::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -12px;
  left: 0;
  height: 3px;
  background: #fff;
  opacity: 50%;
}

main .star-info #star-name {
  margin-bottom: 14px;
  font-family: "Bellefair", serif;
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
}

main .star-info #star-description {
  color: #d0d6f9;
  font-size: 18px;
  height: 128px;
  width: 444px;
  font-family: "Barlow", sans-serif;
  line-height: 32px;
}

main .star-info .star-divisor {
  width: 444px;
  height: 1px;
  margin-top: 54px;
  background: #383b4b;
  margin-bottom: 28px;
}

main .star-distance-and-travel-time {
  display: flex;
  align-items: center;
}

main .average-distance {
  margin-right: 80px;
}

main .average-distance,
main .travel-time {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.36px;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
}

main #star-distance,
main #star-travel-time {
  font-size: 28px;
  letter-spacing: 0;
  margin-top: 12px;
  font-family: "Bellefair", serif;
}

@media screen and (max-width: 1366px) {
  .divisor::after {
    width: 280px;
  }

  .title {
    font-size: 24px;
    margin-top: 40px;
    margin-left: 55px;
  }

  main .star-image-wrapper {
    margin-right: 180px;
    margin-left: 170px;
  }

  main .star-image-wrapper img {
    width: 350px;
    height: 350px;
  }

  main .star-info .choose-star {
    margin-bottom: 32px;
  }

  main .star-info .choose-star li a {
    font-size: 14px;
  }

  main .star-info #star-name {
    font-size: 85px;
  }

  main .star-info #star-description {
    font-size: 18px;
  }

  main .star-info .star-divisor {
    margin: 30px 0;
  }

  main {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: url("../assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    margin-left: 39px;
  }

  .divisor {
    display: none;
  }

  nav {
    width: 450px;
  }

  nav ul {
    margin-left: 48px;
    margin-right: 46px;
  }

  nav ul li:first-child {
    margin-left: 0;
    margin-right: 37px;
  }

  nav ul li:nth-child(2) {
    margin-left: 0;
    margin-right: 42px;
  }

  nav ul li:nth-child(3) {
    margin-left: 0;
    margin-right: 37px;
  }

  nav ul li:last-child {
    margin: 0;
  }

  nav ul li a {
    letter-spacing: 2.36px;
    font-size: 14px;
  }

  nav ul li a strong {
    display: none;
  }

  .destination-link:not(.active):hover::after {
    width: 80px;
  }

  .crew-link:not(.active):hover::after {
    width: 30.5px;
  }

  .technology-link:not(.active):hover::after {
    width: 75px;
  }

  header {
    padding-top: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 375px) {
  body {
    background: url("../assets/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    margin: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  nav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(86, 59, 223);
}

@keyframes fade {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
