* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.anim {
  animation: fade 0.75s ease 1 forwards normal;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 55px;
}

.logo {
  margin-right: 64px;
}

.divisor {
  position: relative;
}

.divisor::after {
  content: "";
  width: 625px;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.3);
}

.nav-mobile {
  display: none;
}

nav {
  margin-left: auto;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(15px);
  width: 950px;
  z-index: 9;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 165px;
  margin-left: 123px;
}

nav ul li {
  margin: 0 48px;
}

nav ul li:last-child {
  margin-right: 165px;
}

nav ul li:first-child {
  margin-left: 123px;
}

nav ul li a {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  display: flex;
  transition: 0.2s ease;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  height: 96px;
  letter-spacing: 2.7px;
  text-decoration: none;
}

nav ul li a strong {
  margin-right: 12px;
}

.nav-link {
  text-align: center;
  position: relative;
}

.nav-link.active::after {
  left: 0;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: white;
}

.nav-link:hover {
  transition: 0.2s ease;
}

.nav-link:not(.active):hover::after {
  left: 0;
  content: "";
  position: absolute;
  bottom: 0;
  width: 130px;
  height: 3px;
  background-color: #979797;
}

.destination-link:not(.active):hover::after {
  width: 121px;
}

.crew-link:not(.active):hover::after {
  width: 70px;
}

.technology-link:not(.active):hover::after {
  width: 120px;
}

.explore {
  width: 274px;
  height: 274px;
  font-size: 32px;
  position: absolute;
  right: -165px;
  border: 0;
  font-family: "Bellefair", serif;
  transition: 0.2s ease;
  color: #0b0d17;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
}

.explore:hover {
  box-shadow: 0px 0px 0px 80px rgb(255, 255, 255, 0.1);
}

main {
  display: flex;
  position: absolute;
  bottom: 131px;
  left: 165px;
  top: 387px;
  align-items: center;
}

main .text {
  color: #d0d6f9;
  margin-right: 386px;
}

main .text h1 {
  font-size: 150px;
  margin-top: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Bellefair", serif;
}

main .text h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 4.72px;
}

main .text p {
  width: 444px;
  height: 128px;
  font-size: 18px;
  font-family: "Barlow";
  line-height: 32px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1440px) {
  .divisor::after{
    width: 360px;
  }

  main {
    margin-bottom: 50px;
  }

  main .text h2 {
    font-size: 32px;
  }

  main .text h1 {
    font-size: 150px;
  }

  main .text p {
    font-size: 25px;
    width: 600px;
  }

  main .text{
    margin-right: 200px;
  }

  .explore{
    right: 0;
    width: 325px;
    height: 325px;
    font-size: 45px;
  }
}

@media screen and (max-width: 1366px) {
  .divisor::after {
    width: 280px;
  }

  main {
    top: 250px;
  }

  main .text h2 {
    font-size: 22px;
  }

  main .text h1 {
    font-size: 125px;
  }

  main .text p {
    font-size: 18px;
  }

  .explore {
    right: 125px;
  }
}

@media screen and (max-width: 1024px) {
  main .text {
    margin-right: 200px;
  }

  nav{
    width: 100%;
  }

  .divisor::after{
    width: 100px;
    left: -25px;
  }

  nav ul {
    width: 800px;
    margin: 0;
  }

  nav ul li{
    margin: 0 32px;
  }

  main .text{
    margin-right: 0;
  }

  main .explore {
    right: 0;
    left: 80px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: url("../assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    margin-left: 39px;
  }

  .divisor {
    display: none;
  }

  nav {
    width: 450px;
  }

  nav ul {
    margin-left: 48px;
    margin-right: 46px;
  }

  nav ul li:first-child {
    margin-left: 0;
    margin-right: 37px;
  }

  nav ul li:nth-child(2) {
    margin-left: 0;
    margin-right: 42px;
  }

  nav ul li:nth-child(3) {
    margin-left: 0;
    margin-right: 37px;
  }

  nav ul li:last-child {
    margin: 0;
  }

  nav ul li a {
    letter-spacing: 2.36px;
    font-size: 14px;
  }

  nav ul li a strong {
    display: none;
  }

  .destination-link:not(.active):hover::after {
    width: 80px;
  }

  .crew-link:not(.active):hover::after {
    width: 30.5px;
  }

  .technology-link:not(.active):hover::after {
    width: 75px;
  }

  header {
    padding-top: 0;
    padding-left: 0;
  }

  main {
    flex-direction: column;
    position: static;
    justify-content: center;
    align-items: center;
  }

  .explore {
    position: static;
    width: 242px;
    height: 242px;
    margin-bottom: 75px;
    margin-top: 156px;
  }

  .explore:hover{
    box-shadow: 0px 0px 0px 60px rgb(255, 255, 255, 0.1);
  }

  main .text {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-top: 106px;
  }

  main .text h1 {
    margin-top: 24px;
    font-size: 160px;
  }

  main .text h2 {
    font-size: 20px;
    letter-spacing: 3.38px;
  }

  main .text p {
    font-size: 16px;
    margin-top: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 425px) {
  body {
    background: url("../assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    margin: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  nav {
    display: none;
  }

  .nav-mobile {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    transition: 0.2s ease;
    height: 100vh;
    width: 0;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(8px);
    opacity: 0;
    visibility: hidden;
  }

  .nav-mobile.active {
    width: 254px;
    opacity: 1;
    visibility: visible;
  }

  .nav-mobile ul{
    list-style: none;
    margin-top: 118px;
    padding-left: 32px;
  }
  
  .nav-mobile ul li{
    margin-bottom: 32px;
  }

  .nav-mobile ul li:last-child{
    margin-bottom: 0;
  }

  .nav-mobile ul li a {
    color: white;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    display: flex;
    transition: 0.2s ease;
    text-transform: uppercase;
    align-items: center;
    font-weight: 400;
    height: 31px;
    position: relative;
    letter-spacing: 2.7px;
  }

  .nav-mobile ul li a strong {
    margin-right: 14px;
  }

  .nav-mobile ul li a.active::after {
    right: 0;
    content: "";
    position: absolute;
    bottom: 0;
    width: 4px;
    height: 31px;
    background-color: white;
  }

  .hamburger {
    z-index: 20;
    display: block;
  }

  .explore {
    width: 150px;
    height: 150px;
    font-size: 20px;
    letter-spacing: 1.25px;
    margin-top: 81px;
  }

  main .text {
    margin-top: 48px;
  }

  main .text h1 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: 0;
  }

  main .text h2 {
    font-size: 16px;
    letter-spacing: 2.7px;
  }

  main .text p {
    width: 327px;
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 0;
  }

  .explore:hover {
    box-shadow: 0px 0px 0px 50px rgb(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 375px) {
  body {
    background: url("../assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    margin: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  nav {
    display: none;
  }

  .nav-mobile {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    transition: 0.2s ease;
    height: 100vh;
    width: 0;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(8px);
    opacity: 0;
    visibility: hidden;
  }

  .nav-mobile.active {
    width: 254px;
    opacity: 1;
    visibility: visible;
  }

  .nav-mobile ul{
    list-style: none;
    margin-top: 118px;
    padding-left: 32px;
  }
  
  .nav-mobile ul li{
    margin-bottom: 32px;
  }

  .nav-mobile ul li:last-child{
    margin-bottom: 0;
  }

  .nav-mobile ul li a {
    color: white;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    display: flex;
    transition: 0.2s ease;
    text-transform: uppercase;
    align-items: center;
    font-weight: 400;
    height: 31px;
    position: relative;
    letter-spacing: 2.7px;
  }

  .nav-mobile ul li a strong {
    margin-right: 14px;
  }

  .nav-mobile ul li a.active::after {
    right: 0;
    content: "";
    position: absolute;
    bottom: 0;
    width: 4px;
    height: 31px;
    background-color: white;
  }

  .hamburger {
    z-index: 20;
    display: block;
  }

  .explore {
    width: 150px;
    height: 150px;
    font-size: 20px;
    letter-spacing: 1.25px;
    margin-top: 81px;
  }

  main .text {
    margin-top: 48px;
  }

  main .text h1 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: 0;
  }

  main .text h2 {
    font-size: 16px;
    letter-spacing: 2.7px;
  }

  main .text p {
    width: 327px;
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 0;
  }

  .explore:hover {
    box-shadow: 0px 0px 0px 40px rgb(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 320px) {
  main .text h1{
    font-size: 65px;
  }
  
  main .text p{
    width: 275px;
    line-height: 22px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(86, 59, 223);
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
